
  .tcenter {
    text-align: center;
  }


  .img-container {
    display: flex;
    flex-direction: column;
    padding:2%;
    border:solid;
    align-items: center;
  }

  img {
    padding-left: 10px;
    padding-right: 10px;
  }